os:
  - linux
  - osx
sudo: required
language: node_js
node_js:
  - '4'
  - '6'
  - '7'
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export CC=clang++; export CXX=clang++; export CXXFLAGS=-std=c++11; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew unlink pkg-config; fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then export CXX=g++-4.8; fi
before_script:
  - npm install winston@2.3.0
  - 'npm install https://github.com/ioBroker/ioBroker.js-controller/tarball/master --production'
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
